<!--Include container-fluid here-->
<div class="container-fluid" ng-controller="EditorController" >
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="dashboard.html">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Call Functions {{qwe}}</li>
    </ol>
    <div class="col-md-12" id="code"></div>
    <div class="card mb-3">
        <div class="card-body">
            <div ng-controller="PaymentController">
                <form novalidate>

                    <table class="table table-responsive">
                        <tbody>
                        <tr>
                            <td>
                            <h6>Function Execution</h6>
                            </td>
                        </tr>
                        <tr>
                            <td><h6>Function Name</h6></td>
                            <td>
                                <select class="form-control" ng-click="populate()" ng-model="func.name">
                                <option ng-repeat="x in funcs" value="{{x}}">{{x}}</option>
                                </select>
                            </td>
                            <td>

                            </td>
                            <td>
                                Parameters
                            </td>
                            <td>
                                <button class="btn btn-outline-dark"  ng-click="JSONpopupInput()">Insert</button><br>
                            </td>
                            <td>
                                <button  type="button" ng-hide="myVar" class="btn btn-success btn-xs"><span class="badge">Accepted</span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <!--Parameters :<br>-->
                    <!--<input class="form-control" type="text" ng-model="func.params"> <br/>-->


                    <table class="table table-responsive">
                        <tbody>
                            <tr>
                                <td><h6>Operation Details</h6></td>
                            </tr>
                            <tr>
                                <td>Cost per this request</td>
                                <td>$ 0.00003</td>
                            </tr>
                            <tr>
                                <td>Function Availability</td>
                                <td><span class="badge">34%</span></td>
                            </tr>
                            <tr>
                                <td>Function Health</td>
                                <td><span class="badge">Medium</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                    <button class="btn btn-outline-dark"  id="checkCondition" ng-click="callFunction(func)">Status</button>
                    <button class="btn btn-outline-dark" ng-click="callFunction(func)">Call Function | {{func.name}}</button>
                </form><br/>

                <h2>Answer : {{ans}}</h2>

            </div>
        </div>
    </div>


</div>

<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>



