
  <style>
    #code {
      /*max-width: calc(70% - ??px);*/
      /*max-width: calc(70% - ??px);*/
      margin: 20px;
      width: 75vw;
      height: 55vh;
      overflow-x: hidden;
      border: 1px solid #ccc;
      background: #ffffff;
      word-wrap: break-word;
      display: inline-flex;
    }

    .CodeFlask .CodeFlask__textarea {
      white-space: nowrap;
      overflow-x: auto;
    }

    .CodeFlask__textarea {
    }
    .codeflask__flatten {
      white-space: normal;
    }
  </style>

  <div ng-controller="PaymentController" class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Wallet</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-table"></i> Orb Wallet</div>
      <div class="card-body">
        <input placeholder="Copy & Paste Function ID Here" ng-model="func_id" class="form-control" type="text" /><br/>
        <button href="editor.html" ng-click="calculateExecutionTime(func_id)" class="btn btn-danger rounded">Check Complexity & Pay</button><br/>
        <br/>
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead id="table">
            <tr>
              <th>Function ID</th>
              <th>Description</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
  </div>